.emailpage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    margin-top: 5vh;
    margin-bottom: 3vh;
    width: 60vw;
}
